@use "../abstract/" as *;

.aboutBanner {
    padding: 4rem 0;    
    &__top {
        @include between;
        margin-bottom: 1rem;
        h1 {
            line-height: 5rem;
            margin-top: 2rem;
            max-width: 48rem;
        }
        &--right {
            max-width: 40rem;
        }
    }

    &__bottom {
        &--a {
            grid-area: a;
            @include imgFit(500px, 500px);
        }

        &--b {
            grid-area: b;
            h3 {
                margin-bottom: 2rem;
            }
            p {
                max-width: 40rem;
            }
        }

        &--c {
            grid-area: c;
            @include imgFit (100%, 700px);
        }
        display: grid;
        grid-template-areas:
        "a c"
        "b c";
        gap: 1rem;
    }
}

.aboutValues {
    padding: 4rem 0;
    color: $clr--light;

    &__cards {
    @include gridFixed(2, 1rem);
    .cardIcon {
        background-color: $clr--light;
        color: $clr--dark;
        @include centerAll;
        gap: 3rem;
        &__details {
            text-align: left;
        }
    }
}

}
  

.aboutLocation {
    padding: 4rem 0;
    &__wrapper {
       text-align: center;
    }
}

.aboutLocation__map {
    @include centerAll;
}